body {
    max-width: 1388px;
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
}

.navigation {
    position: fixed;
    top: 0;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.nav-list {
    padding: 5px 0;
    list-style-type: none; 
    float: right;
}

.nav-list li { 
    display: inline-block;
    margin: 0 15px; 
}

.nav-list li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #304352;

}

.logo {
    padding: 15px 0;
    float: left;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    color: #304352;
}

.logo a:hover {
    color: #777;
}

.header {
    margin-top: 60px;
    height: 100vh;
    background-image: url("imeg/back.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

 
